ExoplanetSearchChallenge/.DS_Store
ExoplanetSearchChallenge/.python-version
ExoplanetSearchChallenge/Full_Train_Data.zip
/ExoplanetSearchChallenge/Full_Train_Data
/ExoplanetSearchChallenge/lightning_logs
ExoplanetSearchChallenge/train_info.csv
ExoplanetSearchChallenge/uv.lock
/ExoplanetSearchChallenge/.ipynb_checkpoints
